name: Build and Test

on:
  push:
    branches:
      - "feature/**"
      - "bugfix/**"
      - "hotfix/**"

permissions: {}

jobs:
  build-and-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm install
        working-directory: src

      - name: Build static site
        run: npm run build
        working-directory: src

      - name: Upload site artifact
        uses: actions/upload-artifact@v4
        with:
          name: static-site
          path: src
