name: Code Quality

on:
  schedule:
    - cron: "0 3 * * 1" # Monday 3am UTC
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]

permissions: {}

jobs:
  quality:
    permissions:
      contents: read
      actions: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm install
        working-directory: src

      - name: SonarCloud Analysis
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: src
          args: >
            -Dsonar.projectKey=frasermolyneux_twenty-one
            -Dsonar.organization=frasermolyneux
            -Dsonar.sources=.

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: javascript-typescript

      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@v4

  devops-secure-scanning:
    permissions:
      contents: read
      actions: read
      id-token: write
      security-events: write
    uses: frasermolyneux/actions/.github/workflows/devops-secure-scanning.yml@main

  dependency-review:
    permissions:
      contents: read
      pull-requests: write
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          comment-summary-in-pr: always
