name: Release to Production

on:
  workflow_dispatch:
  push:
    branches:
      - main


permissions: read-all

concurrency:
  group: ${{ github.workflow }}

jobs:
  terraform-plan-and-apply-dev:
    permissions:
      id-token: write
      contents: read
    environment: Development
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.repository }}-dev

    steps:
      - uses: actions/checkout@v6

      - uses: frasermolyneux/actions/terraform-plan-and-apply@main
        with:
          terraform-folder: "terraform"
          terraform-var-file: "tfvars/dev.tfvars"
          terraform-backend-file: "backends/dev.backend.hcl"
          AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - id: terraform-output
        shell: bash
        run: |
          cd terraform
          echo "static_web_app_name=$(terraform output -raw static_web_app_name)" >> $GITHUB_OUTPUT
        env:
          ARM_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          ARM_USE_AZUREAD: true
          ARM_USE_OIDC: true

    outputs:
      static_web_app_name: ${{ steps.terraform-output.outputs.static_web_app_name }}

  static-web-app-deploy-dev:
    permissions:
      id-token: write
      contents: read
    environment: Development
    runs-on: ubuntu-latest
    needs: [terraform-plan-and-apply-dev]

    concurrency:
      group: ${{ github.repository }}-dev

    steps:
      - uses: actions/checkout@v6

      - name: Az CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}

      - id: static-web-app-api-key
        uses: azure/CLI@v1
        with:
          inlineScript: |
            static_web_app_api_key=$(az staticwebapp secrets list -n ${{ needs.terraform-plan-and-apply-dev.outputs.static_web_app_name }} -o tsv --query properties.apiKey)
            echo "::add-mask::$static_web_app_api_key"
            echo static_web_app_api_key=$static_web_app_api_key >> $GITHUB_ENV

      - id: deploy-static-web-app
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ env.static_web_app_api_key }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: src
          skip_app_build: true

  terraform-plan-and-apply-prd:
    permissions:
      id-token: write
      contents: read
    environment: Production
    runs-on: ubuntu-latest
    needs: [terraform-plan-and-apply-dev, static-web-app-deploy-dev]

    concurrency:
      group: ${{ github.repository }}-prd

    steps:
      - uses: actions/checkout@v6

      - uses: frasermolyneux/actions/terraform-plan-and-apply@main
        with:
          terraform-folder: "terraform"
          terraform-var-file: "tfvars/prd.tfvars"
          terraform-backend-file: "backends/prd.backend.hcl"
          AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - id: terraform-output
        shell: bash
        run: |
          cd terraform
          echo "static_web_app_name=$(terraform output -raw static_web_app_name)" >> $GITHUB_OUTPUT
        env:
          ARM_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          ARM_USE_AZUREAD: true
          ARM_USE_OIDC: true

    outputs:
      static_web_app_name: ${{ steps.terraform-output.outputs.static_web_app_name }}

  static-web-app-deploy-prd:
    permissions:
      id-token: write
      contents: read
    environment: Production
    runs-on: ubuntu-latest
    needs: [terraform-plan-and-apply-prd]

    concurrency:
      group: ${{ github.repository }}-prd

    steps:
      - uses: actions/checkout@v6

      - name: Az CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}

      - id: static-web-app-api-key
        uses: azure/CLI@v1
        with:
          inlineScript: |
            static_web_app_api_key=$(az staticwebapp secrets list -n ${{ needs.terraform-plan-and-apply-prd.outputs.static_web_app_name }} -o tsv --query properties.apiKey)
            echo "::add-mask::$static_web_app_api_key"
            echo static_web_app_api_key=$static_web_app_api_key >> $GITHUB_ENV

      - id: deploy-static-web-app
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ env.static_web_app_api_key }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: src
          skip_app_build: true
